@charset "UTF-8";

/* 컨테이너 */
.container {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

/* 슬라이더 */
.banner, .products {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}

.banner-inner, .products-inner {
	display: flex;
	transition: transform 0.5s ease;
}

.banner img, .products .product img {
	width: 425px;
	height: 659px;
}

.banner .btn, .products .btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 40px; /* 버튼 크기 증가 */
	cursor: pointer;
	z-index: 2;
	font-size: 18px; /* 버튼 크기 증가 */
}

.banner .btn.prev, .products .btn.prev {
	left: 10px;
}

.banner .btn.next, .products .btn.next {
	right: 10px;
}

.products h2 {
	text-align: center;
	margin-bottom: 20px;
}

.product {
	text-align: center;
	min-width: 200px;
}
